#changeLenguage{
  display: flex;
  position: fixed;
  padding: 5px 10px;
  background-color: #61dafb;
  top: 50px;
  border-radius: 0 25% 25% 0;
  width: fit-content;
  font-weight: bold;
  z-index: 3;
 
}
#changeLenguage:hover{
  cursor: pointer;
}

