.containerProyects {
  display: flex;
  flex-direction: row;
  /* flex-wrap: wrap; */
  justify-content: left;
  width: 80%;
  margin: 10px auto;
  padding: 20px 20px;
  background-color: #1e252f;
  /* border: 0.5rem solid black; */
  border-radius: 2rem;
  overflow-x: auto;
  white-space: nowrap;
  animation: borderGrove 7s ease infinite;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.containerProyects::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

.containerOrganitation{
  display: flex;
  flex-direction: row;
  /* flex-wrap: wrap; */
  justify-content: left;
  width: 80%;
  margin: 10px auto;
  padding: 20px 20px;
  background-color: #1e252f;
  /* border: 0.5rem solid black; */
  border-radius: 2rem;
  overflow-x: scroll;
  white-space: nowrap;
  animation: borderGrove 7s ease infinite;
}

.container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  position: relative;
  margin: 10px 10px;
  padding: 20px 20px;
  width: 100%;
  min-width: 230px;
  max-width: 500px;
  background-color: #293545;
  border: 0.2rem solid black;
  border-radius: 2rem;
  word-break: break-word;
  transition: 350ms;
  color: white;
  white-space: break-spaces;
  justify-content: space-between;
  
}

.containersCTA{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 3rem
}

@keyframes borderGrove {
    0%   {background-color: #1e252f; box-shadow: 0px 0px 2px 2px #888888;}
    50%  {background-color: #1e252f; box-shadow: 0px 0px 2px 2px aqua;}
    100%   {background-color: #1e252f; box-shadow: 0px 0px 2px 2px #888888;}

}

.container:hover {
  /* background-color: #61dafb; */
  /* border: 0.2rem solid white; */
  /* cursor: pointer; */
}

.container:hover p,
.container:hover h2,
.container:hover a {
  /* color: black;
  text-decoration-color: rgb(0, 0, 0); */
}

.img_thumbnail {
  width: 100%;
  max-height: 300px;
  /* border-radius: 2rem; */
}

.Members{
  margin-top: 5px;
}

.InputGithub{
  background-color: rgb(61, 60, 65);
  border-radius: 2rem;
  color:white;
  height: 2rem;
  transition: 0.5s;
}

.InputGithub:hover{
  cursor: pointer;
  background-color: #61dafb;
  color:black;
  font-weight: bold;
}

.Info_Actions_Github {
  display: flex;
  justify-content: space-around;
  margin-bottom: 5px;
}

.img_member{
  width:40px;
  border-radius: 50%;
}

@media (max-width:767px){
 .container{
  min-width: 230px;
 }
}


@media (min-width: 1025px) and (max-width: 1385px) {
  .containerProyects {
    width: 50vw;
  }
  .containerOrganitation{
    justify-content: left;
    width: 50vw;
    justify-content: space-evenly;
  }
  .container {
    width: 100%;
  }
}

/* Media Query for Laptops and Desktops */
@media (min-width: 1386px) {
  .containerProyects {
    width: 50vw;
  }
  .containerOrganitation{
    width: 50vw;
    justify-content: space-evenly;
  }
  .container {
    min-width: 300px;
    max-width: 300px;
  }
}
