.imgSkills{
    width:48px;
    height: 48px;
}


.container{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 80%;
    margin: 10px auto;
    padding: 20px 20px;
    background-color: #1e252f;
    /* border: 0.5rem solid black; */
    border-radius: 2rem;
    animation: borderGrove 7s infinite;
}

@keyframes borderGrove {
    0%   {background-color: #1e252f; box-shadow: 0px 0px 2px 2px #888888;}
    50%  {background-color: #1e252f; box-shadow: 0px 0px 2px 2px aqua;}
    100%   {background-color: #1e252f; box-shadow: 0px 0px 2px 2px #888888;}

}


.containerSkills{
    width: 100%;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

.skill{
    display: flex;
    flex-direction: column;
    margin: 5px;
    justify-content: center;
    align-items: center;
    transition: 1s;
}

.skill p{
    margin: 0px;
}

.skill:hover{
    transform: scale(1.2);  
}

.titulo{
    color:white;
    text-align: center;
}

.containerH2Skills{
  background-color: #141d24;
  border-bottom: 3px solid #21303e;
  border-right: 3px solid #21303e;
  border-radius: 25px;
  margin: 10px;
  padding-bottom: 15px;
  animation: gradientDarkGray 7s ease infinite;
}

section{
  padding-bottom: 10px;
}
.tituloH2{
  margin-top: 10px;
}

h2{
  margin-top:0
}


@keyframes gradientDarkGray {
    0%   {background-color: #1e252f}
    50%  {background-color: #1e252f;}
    100%   {background-color: #1e252f}

}

@media (min-width:1025px){
    .container{
        width: 50vw;
    }
}