/* .sidenav {
  height: 100%;
  width: max-content;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 20px;
  font-size-adjust: 0.58;
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 1rem;
  color: #818181;
  display: block;
}

.sidenav a:hover {
  color: #f1f1f1;
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 1rem;
  }
} */
.mobileContainer {
  max-width: 100%;
  margin: auto;
  background-color: #555;

  color: white;
  border-radius: 10px;
}

.topnav {
  overflow: hidden;
  background-color: #282c34;
  position: relative;
  display: flex;
    flex-direction: row;
}

.topnav #myLinks {
  display: none;
}

.topnav a {
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
}

.topnav a.icon {
  background: black;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}

.topnav a:hover {
  background-color: #1e252f;
  color: #61dafb;
}

.active {
  background-color: #04AA6D;
  color: white;
}

